@font-face {
    font-family: 'Roboto';
    src:  url('../assets/fonts/Roboto.ttf')
}

@font-face {
    font-family: 'Oswald';
    src:  url('../assets/fonts/Oswald.ttf')
}

@media (min-width: 600px) {
    /* header */

    body {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    header.header,
    footer.footer {
        justify-content: space-between;
        padding: 0 2rem;
    }

    p.copyright {
        font-size: 1rem;
    }
}

/* header */

body {
    padding: 0 4%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: url("https://loja.reptecstore.com.br/media/catalog/product/p/c/pc_gamer_background_4.jpg")
        no-repeat center;
    padding: 0 0.5rem;
    height: 20vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 20vh;
    background: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17005_hires.jpg")
        no-repeat center;
}

.search-wrapper,
.subscribe-wrapper,
.title-wrapper,
.copyright,
.footer-title,
.github-wrapper {
    align-self: center;
}

.title,
.subscribe,
.copyright,
.footer-title {
    color: seashell;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.footer-title {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
}


p {
    font-family: "Roboto", sans-serif;
}

.copyright {
    font-size: 0.75rem;
    font-family: "Oswald", sans-serif;
}
