/* header */

body {
    max-width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    background: url("https://loja.reptecstore.com.br/media/catalog/product/p/c/pc_gamer_background_4.jpg")
        no-repeat fixed center;
    padding: 0 2rem;
    height: 20vh;
}

.search-wrapper,
.subscribe-wrapper,
.title-wrapper {
    align-self: center;
}

.title,
.subscribe {
    color: seashell;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
