@media (min-width: 600px) {
    .post-template {
        grid-template-columns: 1fr 2fr;
    }
    .about {
        margin-right: 2rem;
    }

    .list a {
        text-decoration: none;
    }
}

.about {
    padding: 20px;
    box-shadow: 10px 5px 5px black;
    border: 1px solid;
}

.author-wrapper {
    display: flex;
}
.by-text {
    margin-left: 0.5rem;
}

.post-template {
    display: grid;
}

.description {
    border-bottom: 1px solid blue;
}

.description-2 {
    border-bottom: 1px solid darkblue;
}

.code {
    border: 1px solid;
}

.list a {
    color: black;
}

.list a:hover {
    color: blue;
}
.sidebar {
    margin-top: 2rem;
}
.about img {
    height: 200px;
    width: 200px;
}

.country {
    display: flex;
}

.country svg {
    align-self: center;
    margin-left: 0.5rem;
}

.post-page {
    padding: 10px;
    box-shadow: inset 0 0 10px #000000;
    margin-top: 2rem;
}

.post-page img {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.languages {
    color: hsla(230, 8%, 15%, 1);
}
